<div align="center">
  <img src="http://s24.postimg.org/yl99int9w/zombie_header.jpg" width="640">

  <h1>Create record </h1>

  <%= form_for @record, url: {action: :created} do |f| %>
      Name:<br>
      <%= f.text_field :name %><br>
      Description:<br>
      <%= f.text_field :description %><br><br><br>
      <table>
        <%= f.submit 'Save' %>
  <% end %>
  <%= button_to 'Cancel', sayonghelloworld_return_path %>
  </table><br>
</div>
