<div align="center">
  <img src="http://s24.postimg.org/yl99int9w/zombie_header.jpg" width="640"><br><br>
  <font size="15" color="red"><%= @message %></font>

  <%= button_to 'Done', sayonghelloworld_return_path %>
</div>