<div align="center">
  <img src="http://s24.postimg.org/yl99int9w/zombie_header.jpg" width="640">

  <h1><%= @record.name %></h1>

  <p><%= @record.description %></p>
</div><br><br>

<div align="center">
  <table>
    <%= button_to 'Edit', sayonghelloworld_path_edit_record_path(id: @record.id) %>
    <%= button_to 'Back', sayonghelloworld_return_path %>
  </table>
  <br>
  <%= button_to 'Delete', sayonghelloworld_return_path(id: @record.id), :confirm => 'Are you sure, you want to dlete ' %>
</div>
