<div align="center">
  <img src="http://s24.postimg.org/yl99int9w/zombie_header.jpg" width="640">
  <table>
    <tr>
      <td>Name</td>
      <td>
        <small>click to view</small>
      </td>
    </tr>
    <% @all_hello_items.each do |f| %>
        <tr>
          <td><%= f.name %></td>
          <td>
            <small><%= link_to 'View', sayonghelloworld_path_view_record_path(id: f.id) %></small>
          </td>
        </tr>
    <% end %>
  </table>
</div><br>
<div align="center">
  <%= button_to 'New ', sayonghelloworld_create_record_path %>
</div>